:root {
  --squareSizeInPx: 20px;
  --gridLengthInSquares: 80;
}

.viewport {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.grid {
  display: grid;
  position: absolute;
  grid-template-rows: repeat(var(--gridLengthInSquares), var(--squareSizeInPx));
  grid-template-columns: repeat(var(--gridLengthInSquares), var(--squareSizeInPx));
  overflow: hidden; 
  background-image: url('./doge.jpg');
  background-size: cover;
  background-position: center; 
}

.row {
  display: contents;
}

.square {
  width: var(--squareSizeInPx);
  height: var(--squareSizeInPx);
}

.square.selected {
  background-color: teal;
}
